<form [formGroup]="form" >
  <div class="mb-5">
    <label class="form-label">Name</label>
    <input type="email" name="name" id="name" class="form-control" formControlName="name">
  </div>
  <div class="mb-5">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="description" id="description" cols="150" rows="10"
              formControlName="description"></textarea>
  </div>
  <button type="button" class="btn btn-primary" (click)="simpan()">Submit</button>
</form>
<app-deptchild [pesan]="kirimPesan"></app-deptchild>
