<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-lg-4" href="/home">Home</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-lg-4" href="/about">About</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-lg-4" href="/adddept">Form</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-lg-4" href="/message">Message</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-lg-4" href="/product">Product</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-lg-4" href="/listproduct"> List Product</a>




    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->

    <!-- Page content-->
    <div class="container-fluid">
<!--      <app-department></app-department>-->
<!--      <app-home></app-home>-->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
